$primary-color: #fff;
.community {
  background-color: $primary-color;

  &-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 75px;
    &__line {
      position: relative;
      top: 5px;
      margin-right: 10px;
      content: "";
      height: 2px;
      width: 200px;
      background-color: #000;
    }
    &__text {
      font-size: 30px;
      font-weight: 800;
    }
  }
  &-subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__line {
      margin-top: 10px;
      content: "";
      height: 1px;
      width: 200px;
      background-color: #000;
    }
    &__text {
      font-size: 25px;
      font-weight: normal;
      text-align: center;
    }
  }
  &-first,
  &-second {
    padding: 30px 60px;
    display: flex;
    align-items: center;
    &__content {
      width: 60%;
      font-size: 20px;
      padding: 25px;
    }
    &__carousel {
      width: 40%;
      border-radius: 5px;
      overflow: hidden;
    }
  }
}

@media (max-width: 780px) {
  .community {
    &-heading__text {
      font-size: 35px;
    }
    &-subheading__text {
      font-size: 18px;
    }
    &-first,
    &-second {
      flex-direction: column-reverse;
      &__content {
        width: 100%;
      }
      &__carousel {
        width: 100%;
      }
    }
    &-second {
      flex-direction: column;
    }
  }
}
@media (max-width: 450px) {
  .community {
    &-heading {
      padding-right: 30px;
      &__line {
        margin-right: 5px;
        width: 30px;
      }
      &__text {
        font-size: 15px;
      }
    }
    &-subheading {
      &__line {
        margin-top: 0px;
        height: 1px;
        width: 100%;
      }
      &__text {
        font-size: 15px;
        padding: 0 20px;
        text-align: center;
      }
    }
    &-first,
    &-second {
      padding: 30px;
      &__content {
        margin-top: 10px;
        font-size: 12px;
        padding: 0px;
        text-align: left;
      }
    }
  }
}

a.community-anchor {
  background: black;
  padding: 7px 10px;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  transition: all 0.3s;
}
a.community-anchor:hover {
  background: transparent;
  filter: invert(1);
}
