$primary-color: #116466;

.about {
  background-color: #116466;
  padding: 30px 20px;
  &-quotes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 25px 0px;
    text-align: center;
  }
  &-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__text {
      font-size: 30px;
      font-weight: 700;
      color: #fff;
    }
    &__line {
      content: "";
      height: 2px;
      width: 200px;
      background-color: #fff;
      margin-left: 20px;
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    color: #fff;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    &__text {
      width: 60%;
      padding: 10px 60px;
    }
    &__image {
      display: flex;
      width: 60%;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 780px) {
  .about {
    padding: 0;
    &-content {
      flex-direction: column-reverse;
      padding: 0px 10px;
      &__text {
        width: 100%;
        padding: 30px;
      }
      &__image {
        width: 80%;
      }
    }
    &-quotes {
      font-size: 15px;
      padding: 10px;
    }
    &-heading {
      padding: 10px;
      &__text {
        font-size: 20px;
      }
      &__line {
        margin-left: 10px;
        width: 100px;
      }
    }
  }
}
