$primary-color: #116466;
$primary-color: #116466;
$white: #fff;
$black: #000;

.content-heading {
  font-size: 30px;
}
.research {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // padding: 30px;
  overflow-x: hidden;
  background: $primary-color;
  color: $white;
  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    background: linear-gradient(45deg, black, transparent),
      url("./skanda-robotics2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: bold;
    color: $white;
  }
  &-content-2 {
    // text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 35px;
    &:last-child {
      margin-bottom: 20px;
    }
    .content-heading {
      margin-bottom: 15px;
      width: 100%;
      font-size: 30px;
    }
    .content {
      margin-bottom: 25px;
      width: 100%;
      font-size: 18px;
    }
    .anchors {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content-anchor {
      display: block;
      background-color: $white;
      color: $black;
      text-decoration: none;
      border: 1px solid black;
      transition: all 0.3s;
      padding: 8px 12px;
      margin: 5px;
      &:hover {
        background-color: transparent;
        transition: all 0.3s;
        filter: invert(1);
      }
    }
  }

  &-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto 25px;

    // color: $white;
    // background: $primary-color;
    width: auto;
    padding: 3%;
    max-width: 1440px;
    // margin-top: -105px;

    // &:not(:last-child) {
    //   margin-bottom: 115px;
    // }

    &:last-child {
      margin-bottom: 20px;
    }
    .content-heading {
      margin-bottom: 15px;
      width: 100%;
      font-size: 30px;
    }
    .content {
      margin-bottom: 25px;
      width: 100%;
      font-size: 18px;
    }
    .anchors {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content-anchor {
      display: block;
      background-color: $white;
      color: $black;
      text-decoration: none;
      border: 1px solid black;
      transition: all 0.3s;
      padding: 8px 12px;
      margin: 5px;
      &:hover {
        background-color: transparent;
        transition: all 0.3s;
        filter: invert(1);
      }
    }
  }
}

@media (max-width: 330px) {
  .research-content-1 {
    // margin-top: -85px !important;
  }
}
@media (max-width: 530px) {
  .research-flex {
    display: flex;
    flex-direction: column;
  }
  .research-content-2 {
    width: 100%;
    .content-heading {
      font-size: 18px;
    }
  }
}
