.gallery-section {
  background-color: #116466;
  color: white !important;
  text-align: center;
}

.gallery-heading {
  font-size: 30px !important;
  padding: 20px;
  text-align: center;
}
.gallery-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 85px;
}

.gallery {
  padding: 1%;
}

.tags {
  text-align: center;
  padding: 10px 0px;

  margin-bottom: 30px;
}

.tag {
  border: 1px solid white;
  outline: none;
  margin: 0px 10px;
  padding: 5px 20px;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.5s;
}

.tag:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.842);
  transition: all 0.5s;
}

.active {
  background-color: black;
}

.container-2 {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  transition: all 0.5s;
}

.container-2::after {
  display: none;
}
.container-2::before {
  display: none;
}

.image-card1 {
  padding: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.image1 {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.62);
}
@media (max-width: 991px) {
  .container-2 {
    display: flex;
    flex-direction: column;
  }
  .tags {
    font-size: 17px;

    padding-top: 60px;
  }
}
/* @media (max-width: 991px) {
    .container-2 {
      width: 70%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  } */
@media (max-width: 321px) {
  .tag {
    padding: 3px 16px;
  }
}
